* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

main {
    height: 100vh;
    width: 100vw;
}

header {
    position: relative;
    margin: 24px 0px 0px 57px;

}


.head-menu {
    margin-right: 41px;
    font-size: 28px;
    line-height: 41px;
    cursor: pointer;
    color: #5D5D7D;
}

.head-menu:hover {
    opacity: 0.5;
}

.head-menu:active {
    opacity: .8;
}

.left {
    width: 60%;
    display: inline-block;
    margin-top: 20%;
    padding-left: 136px;
}

.right {
    display: inline-block;
    background: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

h1 {
    font-size: 70px;
    line-height: 80px;
    color: #5D5D7D;
    width: 400px;
}

p {
    width: 540px;
    font-size: 28px;
    line-height: 36px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgba(93, 93, 125, 0.6);



}

button {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    background: #9499ea;
    width: 269px;
    height: 62px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: .5;
}

.img {
    display: inline-block;
    width: 456px;
    position: relative;
    right: 70px;
    top: 25%
}

@media screen and (max-width: 1030px) {
    .left {
        width: 100%;
        height: 40%;
        padding: 0px;
        margin: 0px;
    }

    .right {
        position: static;
        display: block;
        width: 100%;
        height: auto;
        padding: 30px;
        margin: 0px;
    }

    .img {
        position: static;
        max-width: 90%;
        margin: 0 auto;
        display: block;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 50px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    p {
        text-align: center;
        margin: 50px 40px;
        width: auto;
        font-size: 20px;
        line-height: 24px;

    }

    button {
        margin: 0 auto;
        display: block;

    }
}

@media screen and (max-width: 500px) {


    .left {
        width: 100%;
        height: 50%;
        padding: 0px;
        margin: 0px;
    }

    .right {
        position: static;
        display: block;
        width: 100%;
        height: auto;
        padding: 40px;
        margin: 0px;
    }

    .img {
        position: static;
        max-width: 90%;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    p {
        text-align: center;
        margin: 15px 40px;
        width: auto;
        font-size: 14px;
        line-height: 24px;

    }

    button {
        margin: 0 auto;
        display: block;

    }
}

@media screen and (max-width: 380px) {
    .left {
        height: 70%;
    }
}